<!DOCTYPE html>
<html>
<head>
	<title>Dezconto - Seu companheiro de compras!</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style-index.css">
</head>
<body>
	<div class="container-fluid font">	
		<div class="row header c_botoes">
			<div class="col-sm-1"></div>
			<div class="col-sm-2">
				<a href="/"><img src="images/logo.png" class="img_logo"></a>
			</div>
			<div class="col-sm-6"></div>
			<div class="col-sm-3">
				<a href="/lojista" class="loj">LOJISTA</a>				
				<span class="entrar">
					<button href="/auth/google"class="btt_entrar">ENTRAR</button> 
		  </span>												
			</div>			
			<div class="col-sm-1"></div>
		
