<!DOCTYPE html>
<html>
<head>
	<title>Dezconto - Seu companheiro de compras!</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style-index.css">
</head>
<body>
	<div class="container-fluid font">	
		<div class="row header c_botoes">
			<div class="col-sm-1"></div>
			<div class="col-sm-2">
				<a href="/"><img src="images/logo.png" class="img_logo"></a>
			</div>
			<div class="col-sm-6"></div>
			<div class="col-sm-3">
				<a href="/lojista" class="loj">LOJISTA</a>				
				<span class="entrar">
					<button href="lojista/login"class="btt_entrar">ENTRAR</button> 
				</span>												
			</div>			
			<div class="col-sm-1"></div>
		</div>
		<div class="row center">
			<div class="img_center">
				<div class="col-sm-1"></div>
				<div class="col-sm-4 title_eco">
					ECONOMIZE
					<div class="subt_eco">
						os melhores <span>des</span>contos, das melhores lojas
					</div>
				</div>
				<div class="col-sm-6">
					<img src="images/cel.png" class="cel">
				</div>
				<div class="col-sm-1"></div>
			</div>
		</div>
		<div class="row center2">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				<div class="row">
					<div class="col-sm-1 margin_gplay">
						<div class="border_play">
							<img src="images/gplay.png" class="img_gplay">
						</div>						
					</div>
					<div class="col-sm-9">
						<div class="baixeja">
							BAIXE JÁ NOSSO APP
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<div id="balao" class="margin_balao">
							<div class="content_balao">
								<div class="row">
									<div class="col-sm-4">
										<img src="images/cara1.jpg" class="img_cara1">
									</div>
									<div class="col-sm-8">
										<div class="title">Lorem ipsum</div>
										<div class="subtitle">Grok</div> 
									</div>
								</div><div class="row">
									<div class="col-sm-12 text">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua.
									</div>									
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div id="balao" class="margin_balao">
							<div class="content_balao">
								<div class="row">
									<div class="col-sm-4">
										<img src="images/cara2.jpeg" class="img_cara1">
									</div>
									<div class="col-sm-8">
										<div class="title">Pena Valdez</div>
										<div class="subtitle">Rotodyne</div>  
									</div>
								</div><div class="row">
									<div class="col-sm-12 text">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua.
									</div>									
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div id="balao" class="margin_balao">
							<div class="content_balao">
								<div class="row">
									<div class="col-sm-4">
										<img src="images/cara3.jpeg" class="img_cara1">
									</div>
									<div class="col-sm-8">
										<div class="title">Jessica Miles</div>
										<div class="subtitle">Sensate</div> 
									</div>
								</div><div class="row">
									<div class="col-sm-12 text">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
										tempor incididunt ut labore et dolore magna aliqua.
									</div>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-1"></div>
		</div>
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				<div class="quem">
					QUEM SOMOS?!
				</div>
				<div class="somos">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
			</div>
			<div class="col-sm-1"></div>
		</div>
		<div class="row center3">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				<div class="lojas_cad">
					LOJAS CADASTRADAS
				</div>
				<div class="row margin_lojas">
					<div></div>
					<div class="col-sm-4 c_botoes">
					 	<img src="images/ali.png" class="img_lojas">
					 	<div class="nome_loja">
					 		aliexpress
					 	</div>
					</div>
					<div class="col-sm-4 c_botoes">
					 	<img src="images/gear.png" class="img_lojas">
					 	<div class="nome_loja">
					 		gearbest
					 	</div>
					</div> 
					 <div class="col-sm-4 c_botoes">
					 	<img src="images/bang.png" class="img_lojas">
					 	<div class="nome_loja">
					 		banggood
					 	</div>
					</div>  
				</div>
			</div>
			<div class="col-sm-1"></div>
		</div>
		<div class="row footer">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				<div class="row">
					<div class="col-sm-10">
				 		<div class="copy">
							&copy; Copyright 2018 WiRED DSGN
						</div>
					</div>
					<div class="col-sm-2">
						<img src="images/logo-footer.png" class="logo_footer">
					</div>
				</div>
			</div>
			<div class="col-sm-1"></div>			
		</div>
	</div>
</body>
</html>
