<% include ./index-top.ejs %>
<style>
	body{
		background-color: rgb(67, 79, 93);	
	}
	.not{
		color: white;
	}
</style>


	
		<h2 class="not">NÃO AUTORIZADO!</h2>



<% include ./index-bottom.ejs %>
